

<!doctype html>
{% load static %}
<html lang="en">
  <head>
<link rel="icon" href="{% static 'icons/logo.ico' %}" type="image/x-icon"/>
    <title>finder | Find your Job</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="{% static 'css/custom-bs.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body id="top">

<!--  <div id="overlayer"></div>-->
<!--  <div class="loader">-->
<!--    <div class="spinner-border text-primary" role="status">-->
<!--      <span class="sr-only">Loading...</span>-->
<!--    </div>-->
<!--  </div>-->


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="{% url 'applicanthomepage' %}"><img src="{% static 'images/finderlogo2.png' %}"
          width="160px" height="50px"></a></div>

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li><a href="{% url 'applicanthomepage' %}" class="nav-link ">Home</a></li>
              <li><a href="{% url 'aboutpage' %}">About</a></li>
              <li class="has-children">
                <a href="{% url 'joblisting' %}" class="active">Jobs</a>
                <ul class="dropdown">
                  <li><a href="{% url 'joblisting' %}">All Jobs</a></li>
                  <li><a href="{% url 'jobsavedlist' %}">Saved Jobs</a></li>
                  <li><a href="{% url 'appliedjobs' %}">Applied Jobs</a></li>
                </ul>
              </li>
<!--              <li class="has-children">-->
<!--                <a href="services.html">Pages</a>-->
<!--                <ul class="dropdown">-->
<!--                  <li><a href="services.html">Services</a></li>-->
<!--                  <li><a href="service-single.html">Service Single</a></li>-->
<!--                  <li><a href="blog-single.html">Blog Single</a></li>-->
<!--                  <li><a href="portfolio.html">Portfolio</a></li>-->
<!--                  <li><a href="portfolio-single.html">Portfolio Single</a></li>-->
<!--                  <li><a href="testimonials.html">Testimonials</a></li>-->
<!--                  <li><a href="faq.html">Frequently Ask Questions</a></li>-->
<!--                  <li><a href="gallery.html">Gallery</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="blog.html">Blog</a></li>-->
              <li><a href="{% url 'applicantcontact' %}">Contact</a></li>
              <li class="d-lg-none"><a href="post-job.html"><span class="mr-2">+</span> Post a Job</a></li>
              <li class="d-lg-none"><a href="{% url 'applicantloginpage' %}">Log In</a></li>
            </ul>
          </nav>

          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            {% if appdata.Name %}
            <div class="ml-auto">
               <a href="{% url 'userprofile' aid=appdata.ApplicantID  %}" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span>{{appdata.Name}}</span></a>
            <a href="{% url 'clientlogout' %}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Logout</a>
            </div>
              {% elif request.session.username %}
            <div class="ml-auto">
              <a href="{% url 'profile' %}" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span>{{request.session.username}}</span></a>
              <a href="{% url 'clientlogout' %}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Logout</a>
            </div>
              {% else %}
            <div class="ml-auto">
              <a href="{% url 'recruiterhome' %}" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Job</a>
              <a href="{% url 'applicantloginpage' %}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log In</a>
            </div>
            {% endif %}
          </div>x

        </div>
      </div>
    </header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">{{job.Title}}</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Home</a> <span class="mx-2 slash">/</span>
              <a href="#">Job</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>{{job.Title}}</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div class="border p-2 d-inline-block mr-3 rounded">
                <img src="{{job.Logo.url}}" alt="Image" width="150px" height="100px">
              </div>
              <div>
                <h2>{{job.Title}}</h2>
                <div>
                  <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span>{{job.Company_Name}}</span>
                  <span class="m-2"><span class="icon-room mr-2"></span>{{job.Location}}</span>
                  <span class="m-2"><span class="icon-clock-o mr-2"></span><span class="text-primary">{{job.Type}}</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-6">
                {% if not jsaved %}
                <a href="{% url 'jobsave' jobid=job.JobID %}" class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>Save Job</a>
                {% endif %}
              </div>
              <div class="col-6">
                <a href="{% url 'jobapply' jid=job.JobID %}" class="btn btn-block btn-primary btn-md">Apply Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="mb-5">
              <figure class="mb-5"><img src="{% static 'images/job_single_img_1.jpg' %}" alt="Image" class="img-fluid rounded"></figure>
              <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Job Description</h3>
              <p>{{job.Description}}</p></div>
            <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-rocket mr-3"></span>Responsibilities</h3>
              <ul class="list-unstyled m-0 p-0">
                {% if res.res1 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{res.res1}}</span></li>
                {% endif %}
                {% if res.res2 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{res.res2}}</span></li>
                {% endif %}
                {% if res.res3 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{res.res3}}</span></li>
                {% endif %}
                {% if res.res4 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{res.res4}}</span></li>
                {% endif %}
                {% if res.res5 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{res.res5}}</span></li>
                {% endif %}
                {% if res.res6 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{res.res6}}</span></li>
                {% endif %}
                {% if res.res7 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{res.res7}}</span></li>
                {% endif %}
                {% if res.res8 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{res.res8}}</span></li>
                {% endif %}
                {% if res.res9 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{res.res9}}</span></li>
                {% endif %}
                {% if res.res10 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{res.res10}}</span></li>
                {% endif %}
              </ul>

            </div>

            <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-book mr-3"></span>Qualification & Requirements</h3>
              <ul class="list-unstyled m-0 p-0">
                 <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{job.Qualification}}</span></li>
                {% if req.req1 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{req.req1}}</span></li>
                {% endif %}
                {% if req.req2 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{req.req2}}</span></li>
                {% endif %}
                {% if req.req3 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{req.req3}}</span></li>
                {% endif %}
                {% if req.req4 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{req.req4}}</span></li>
                {% endif %}
                {% if req.req5 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{req.req5}}</span></li>
                {% endif %}
              </ul>
            </div>

            <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-turned_in mr-3"></span>Other Benifits</h3>
              <ul class="list-unstyled m-0 p-0">
                {% if ben.ben1 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{ben.ben1}}</span></li>
                {% endif %}
                {% if ben.ben2 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{ben.ben2}}</span></li>
                {% endif %}
                {% if ben.ben3 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{ben.ben3}}</span></li>
                {% endif %}
                {% if ben.ben4 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{ben.ben4}}</span></li>
                {% endif %}
                {% if ben.ben5 %}
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>{{ben.ben5}}</span></li>
                {% endif %}
              </ul>
            </div>

            <div class="row mb-5">
              <div class="col-6">
                {% if jsaved %}
                <a href="{% url 'savedjobremove' jid=job.JobID apid=appdata.ApplicantID %}" class="btn btn-block btn-light btn-md"><span class="icon-heart mr-2 text-danger"></span>Remove from Wishlist</a>
                {% else %}
                <a href="{% url 'jobsave' jobid=job.JobID %}" class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>Save Job</a>
                {% endif %}
              </div>
              <div class="col-6">
                <a href="{% url 'jobapply' jid=job.JobID " class="btn btn-block btn-primary btn-md">Apply Now</a>
              </div>
            </div>

          </div>
          <div class="col-lg-4">
            <div class="bg-light p-3 border rounded mb-4">
              <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Job Summary</h3>
              <ul class="list-unstyled pl-3 mb-0">
                <li class="mb-2"><strong class="text-black">Published on:</strong>  {{job.Published}}</li>
                <li class="mb-2"><strong class="text-black">Employment Status:</strong> {{job.Type}}</li>
                <li class="mb-2"><strong class="text-black">Experience:</strong>
                  {% if job.Experience %}
                  {{job.Experience}}
                  {% else %}
                  NA
                  {% endif %}
                </li>
                <li class="mb-2"><strong class="text-black">Job Location:</strong>  {{job.Location}}</li>
                <li class="mb-2"><strong class="text-black">Salary:</strong>  {{job.Salary}}</li>
                <li class="mb-2"><strong class="text-black">Gender:</strong>  {{job.Gender}}</li>
                <li class="mb-2"><strong class="text-black">Application Deadline:</strong> {{job.Deadline}}</li>
                <li class="mb-2"><strong class="text-black">Website:</strong><a href="{{rdata.Website}}"> View</a></li>
              </ul>
            </div>

            <div class="bg-light p-3 border rounded">
              <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Share</h3>
              <div class="px-3">
                <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-facebook"></span></a>
                <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-twitter"></span></a>
                <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-linkedin"></span></a>
                <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-pinterest"></span></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="next">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2">Related Jobs</h2>
          </div>
        </div>

         <ul class="job-listings mb-5">
          {% for i in jdata%}
          <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
            <a href="job-single.html"></a>
            <div class="job-listing-logo">
              <img src="{{i.Logo.url}}" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </div>

            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
              <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                <h2>{{i.Title}}</h2>
                <strong>{{i.Company_Name}}</strong>
              </div>
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                <span class="icon-room"></span>{{i.Location}}
              </div>
              <div class="job-listing-meta">
                {% if i.Type == "Full Time" %}
                <span class="badge badge-danger">{{i.Type}}</span>
                {% else %}
                <span class="badge badge-secondary">{{i.Type}}</span>
                {% endif %}
              </div>
            </div>

          </li>

          {% endfor %}


        </ul>



      </div>
    </section>


    <section class="bg-light pt-5 testimony-full">

        <div class="owl-carousel single-carousel">


          <div class="container">
            <div class="row">
              <div class="col-lg-6 align-self-center text-center text-lg-left">
                <blockquote>
                  <p>&ldquo;Embrace each rejection as a stepping stone on your path to success. Your dream job is waiting for you , and with determination, you'll find the perfect fit.&rdquo;</p>
                  <p><cite> &mdash; Corey Woods, @Dribbble</cite></p>
                </blockquote>
              </div>
              <div class="col-lg-6 align-self-end text-center text-lg-right">
                <img src="{% static 'images/person_transparent_2.png' %}" alt="Image" class="img-fluid mb-0">
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-lg-6 align-self-center text-center text-lg-left">
                <blockquote>
                  <p>&ldquo;Your job search is not a race; it's a journey of self-discovery and growth. Keep moving forward and you'll find the perfect path to your career destination.&rdquo;</p>
                  <p><cite> &mdash; Chris Peters, @Google</cite></p>
                </blockquote>
              </div>
              <div class="col-lg-6 align-self-end text-center text-lg-right">
                <img src="{% static 'images/person_transparent.png' %}" alt="Image" class="img-fluid mb-0">
              </div>
            </div>
          </div>

      </div>

    </section>

    <section class="pt-5 bg-image overlay-primary fixed overlay" style="background-image: url('{% static 'images/hero_1.jpg' %}');">
      <div class="container">
        <div class="row">
          <div class="col-md-6 align-self-center text-center text-md-left mb-5 mb-md-0">
            <h2 class="text-white">Get The Mobile Apps</h2>
            <p class="mb-5 lead text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci impedit.</p>
            <p class="mb-0">
              <a href="#" class="btn btn-dark btn-md px-4 border-width-2"><span class="icon-apple mr-3"></span>App Store</a>
              <a href="#" class="btn btn-dark btn-md px-4 border-width-2"><span class="icon-android mr-3"></span>Play Store</a>
            </p>
          </div>
          <div class="col-md-6 ml-auto align-self-end">
            <img src="{% static 'images/apps.png' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <footer class="site-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

      <div class="container">
        <div class="row mb-5">
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Search Trending</h3>
            <ul class="list-unstyled">
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Graphic Design</a></li>
              <li><a href="#">Web Developers</a></li>
              <li><a href="#">Python</a></li>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Company</h3>
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Resources</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Support</h3>
            <ul class="list-unstyled">
              <li><a href="#">Support</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Contact Us</h3>
            <div class="footer-social">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>  <i  aria-hidden="true"><img src="{% static 'icons/logo.ico' %}" width="20px" height="20px"></i> <a href="#" target="_blank" >finder</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>
          </div>
        </div>
      </div>
    </footer>

  </div>

    <!-- SCRIPTS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/stickyfill.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>

    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>

    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/self.js' %}"></script>
<script src="{% static 'assets/js/jquerymessage.js' %}"></script>
<script src="{% static 'assets/js/sweet.js' %}"></script>

{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}','','warning');
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}','','error');
            </script>
        {% else %}
            <script>
                swal('{{i}}','','success');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}


  </body>
</html>