.black{
color : black;
}
.white{
color : white;
}
.mleft80{
margin-left:80px;
}
.tcenter{
text-align:center;
}
.mtop50{
margin-top:50px;
}
.mtop-24{
margin-top:-24px;
}
.ph50{
padding-left:50px;
padding-right:50px;
}
.pv50{
padding-top:150px;
padding-bottom:50px;
}
.mh50{
margin-left:50px;
margin-right:50px;
}
.mv100{
margin-top:100px;
margin-bottom:100px;}
a{
text-decoration:none;
color:black;
}

.maindiv{
background-image: linear-gradient(blue,rgb(0, 166, 255));
width:100%;
height:850px;
margin-top:-100px;
padding-top:100px;
}
.logdiv{
width:550px;
height:600px;
margin-left:485px;
margin-top:80px;
position:relative;
padding:25px;
border-radius:20px;
background-color:rgba(189, 185, 185, 0.749);
}


.profile{
width:250px;
height:50px;
border-radius:15px;;
}
.offcdiv{
width:400px;
height:50px;
padding-left:25px;
padding-top:10px;
font-size:20px;
margin-bottom:2px;
margin-left:-20px;
border-radius:15px;
}
.offcdivinner{
height:50px;
padding-left:15px;
padding-top:8px;
font-size:18px;
margin-bottom:26px;
margin-left:-20px;
margin-top:-24px;
border-radius:15px;
color:black;
border:solid white;
}
.homediv{
width:100%;
height:600px;
padding-top:150px;
padding-bottom:150px;
}


table{
margin-top:100px;}

#0079e3

#2B9BFF